.nav {
    display: flex;
    list-style: none;
    margin-top: 20px;
}

.nav li {
    margin-left: 15px;
}

.nav li a {
    text-decoration: none!important;
    color: blue;
    font-size: 25px;
}

.active {
    color: white!important;
    background-color: blue;
    padding: 10px;
    border-radius: 5px;
}
